@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAF3E0;
  --foreground: #3D3D3D;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
